{% extends 'base.html' %}
{% block head %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <title>{{ title }}</title>
{% endblock %}
{% block body %}
    <p>Hello, {{ current_name }} <a href="/logout">Log Out</a></p>
    <div id="chat">
        {% for message in messages %}
        {{ message[0] }}: {{ message[1] }} <br>
        {% endfor %}
    </div>
    <form id="chatform">
        <input type="text" id="message-field">
        <input type="button" id="send" value="Send">
    </form>
    <script src="{{ static('js/ws.js') }}"></script>
{% endblock %}