<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <title>Title</title>
</head>
<body>
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor%}
    <form id="chatform">
        <input type="text" id="message-field">
        <input type="button" id="send" value="Send">
    </form>
</body>
<script type="text/javascript">
    {% include "/js/ws.js" %}
</script>
</html>