<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<div class="ui three column stackable centered grid">
    <div class="column">
        <form action="/login" method="post">
            <div class="ui fluid action input">
                <input type="text" name="username">
                <input type="text" name="password">
                <button type="submit" class="ui primary button">Login</button>
            </div>
        </form>
    </div>
</div>
<a href="/signin">Sign in</a>
</body>
</html>