<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{ some }}
<div class="ui three column stackable centered grid">
    <div class="column">
        <form action="/signin" method="post">
            <div class="ui fluid action input">
                <input type="text" name="username">
                <input type="text" name="password">
                <button type="submit" class="ui primary button">Sign in</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>